.title-section-seccion-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;

  h2 {
    font-size: 2rem;
    text-align: center;
    width: 70%;
  }
}

@media (max-width: 900px) {
  .multimedia-section-seccion-1 {
    flex-direction: column;
    div {
      width: 100%;
      padding: 10px 0;
    }
    padding: 10px;
  }
  .title-section-seccion-1 h2 {
    font-size: 1.2rem;
    width: 100%;
  }
}
.multimedia-section-seccion-1 {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
  }
}
