.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;

  h2 {
    font-size: 2rem;
    text-align: center;
    width: 70%;
  }
}
.multimedia-section {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
  }
}
